body{
    background-image: url(./image/flat-lay-workstation-with-copy-space-laptop.jpg);
    background-size: 100%;
    background-repeat:no-repeat ;
}
h1{
    color: rgb(15, 16, 16);
    margin: 10PX;
    text-align: center;
    
}
#main{
    margin: 10%;
    width: 30%;
    padding: 20px;
    border: 1px solid red;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow:5px 5px 5px rgba(255, 0, 0, 0.534);
}
input{
    color: rgba(42, 42, 244, 0.868);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-transform:capitalize ;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(203, 133, 107, 0.559);
}
input:hover,button:hover,select:hover{
    color: rgb(11, 11, 11);
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    cursor:pointer;
    box-shadow: 2px 2px 2px 2px rgba(185, 247, 41, 0.559);
}
input:focus,button:focus,select:focus{
    color: brown;
    background-color: rgba(207, 249, 235, 0.646);
}
input[type=text]
{
    background-image: url(./image/men\ icon\ png.png);
    background-size: 20px;
    background-repeat: no-repeat;
padding-left:20px;
width: 90%;
}

input[type=mail]
{
    background-image: url(./image/email\ icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
padding-left:20px;
width: 90%;
}
input[type=password]
{
    background-image: url(./image/passward\ icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
padding-left:20px;
width: 90%;
}
select
{
    background-image: url(./image/country\ icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
padding-left:20px;
width: 95%;
box-shadow: 2px 2px 2px 2px rgba(203, 133, 107, 0.559);
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
text-transform:capitalize ;
border-radius: 10px;


}
button{
    width: 95%;
    height: 40px;
    background-color: rgb(7, 31, 239);
    color: aliceblue;
    font-size: 22px;
box-shadow: 2px 2px 2px 2px rgba(107, 184, 203, 0.559);
font-family: 'Times New Roman', Times, serif;
text-transform:capitalize ;
border-radius: 10px;
}
